:root {
	--space-s: 1rem;
	--space-xs: calc(var(--space-s) * 0.75);
	--space-2xs: calc(var(--space-s) * 0.5);
	--space-3xs: calc(var(--space-s) * 0.25);
	--space-m: calc(var(--space-s) * 1.5);
	--space-l: calc(var(--space-s) * 2);
	--space-xl: calc(var(--space-s) * 3);
	--space-2xl: calc(var(--space-s) * 4);
	--space-3xl: calc(var(--space-s) * 6);
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Roboto-Medium.ttf');
}

body {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	margin: 0;
}

h1 {
	font-size: 6rem;
	font-weight: 300;
	line-height: 1.167;
	letter-spacing: -0.01562em;
	margin: 0 0 0.35em;
}

h2 {
	font-size: 3.75rem;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -0.00833em;
	margin: 0 0 0.35em;
}

h3 {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.167;
	letter-spacing: 0em;
	margin: 0 0 0.35em;
}

h4 {
	font-size: 2.125rem;
	font-weight: 400;
	line-height: 1.235;
	letter-spacing: 0.00735em;
	margin: 0 0 0.35em;
}

h5 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.334;
	letter-spacing: 0em;
	margin: 0 0 0.35em;
}

h6 {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.0075em;
	margin: 0 0 0.35em;
}

.subtitle1 {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75;
	letter-spacing: 0.00938em;
	margin: 0 0 0.35em;
}

.subtitle2 {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.57;
	letter-spacing: 0.00714em;
	margin: 0 0 0.35em;
}

.overline {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 2.66;
	letter-spacing: 0.08333em;
	text-transform: uppercase;
}

p,
li {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;
	margin: 0 0 0.35em;
}

.caption > p {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1.66;
	letter-spacing: 0.03333em;
	margin-bottom: 0.35em;
	display: block;
}

hr {
	border: none;
	height: 1px;
	margin: 0 1em;
	flex-shrink: 0;
	background-color: rgba(0, 0, 0, 0.12);
}

li {
	margin-bottom: var(--space-3xs);
}

ol {
	margin-top: 0;
}

details .content {
	margin-left: var(--space-l);
	margin-bottom: var(--space-s);
}

.buttonLink {
	color: white;
	padding: 8px 11px;
	min-width: 64px;
	box-sizing: border-box;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-weight: 500;
	line-height: 1.75;
	border-radius: 4px;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	font-size: 0.9375rem;
	background-color: #3f51b5;
}
.buttonLink:hover {
	background-color: #303f9f;
	text-decoration: underline;
}

.menu-button {
	color: white;
	padding: 8px 11px;
	min-width: 64px;
	box-sizing: border-box;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-weight: 500;
	line-height: 1.75;
	border-radius: 4px;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	font-size: 0.9375rem;
	&:hover {
		background-color: slategray;
	}
}

.large-container {
	max-width: 1200px;
	margin: 0 auto;
}

.medium-container {
	max-width: 800px;
	margin: 0 auto;
}

.small-container {
	max-width: 600px;
	margin: 0 auto;
}

.centered-container {
	padding: 1rem;
	text-align: center;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.card-1 {
	background-color: white;
	border-radius: 4px;
	box-shadow:
		0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	padding: 1rem 1rem 1.5rem;
	margin: 1rem;
	width: clamp(275px, 40cqw, 325px);
}

.card-2 {
	background-color: white;
	padding: 1rem 1rem 1.5rem;
	margin: 0;
	width: clamp(275px, 40cqw, 325px);
}

.centered-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.stack {
	display: flex;
	flex-direction: column;
}

.margin-s {
	margin: var(--space-s);
}

.margin-y-s {
	margin-top: var(--space-s);
	margin-bottom: var(--space-s);
}

.margin-0 {
	margin: 0;
}

.margin-x-0 {
	margin-left: 0;
	margin-right: 0;
}

.margin-y-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.margin-bottom-s {
	margin-bottom: var(--space-s);
}

.margin-left-s {
	margin-left: var(--space-s);
}

.padding-y-xl {
	padding-top: var(--space-xl);
	padding-bottom: var(--space-xl);
}

.gap-s {
	gap: var(--space-s);
}

.gap-2xs {
	gap: var(--space-2xs);
}
